.container{
    margin-bottom: 90px;
    
}
 
 

.navbar-light .navbar-nav .nav-link{
    color:black
    
    
}




.navbar-light .navbar-nav .nav-link:hover{
    color: #ff1f77;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #ffc221;
    
    
}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:hover{
    color: #ff1f77;
}

.bg-light{
    background-color: #dbdbdb !important;
   
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 12px;
}




h1{
    color: black;
}

.price{
    color: #ff1f77;
}

.button-now{
    padding: 7px 25px;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, #ff589b 0%,  #ff136f 100%);
    color: #fff;
    border:none;
    font-weight: bold;
    margin-top: 7px;
}
   
.carousel-item{
    padding: 20px 40px;
}

.cat1,.cat2,.cat3{
    padding: 10px 30px;
    
}


.watch1, .bag1, .shoes1{
    color: #fff;
}


.cat1{
    background-color: #ffc221;
    color: #fff;
    border-radius: 12px;
}

.cat2{
    background-color: #ff1f77;
    color: #fff;
    border-radius: 12px;
}

.cat3{
    background-color: rgb(37, 0, 250) ;
    color: #fff;
    border-radius: 12px;
}


.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 12px;

}

footer{
   
   text-align: center;
   
}


#contactus{
    height: 300px;
}

#contactus h6{
    color: grey
}